<section class="k-px-5 k-py-10">
    <h1>Kendo BUTTONS KENDO Buttons</h1>
    <kendo-buttongroup [width]="100" look="outline" icon="user">
        <button kendoButton [togglable]="true">Browse</button>
        <button kendoButton [primary]="true" [togglable]="true" icon="folder">Browse</button>
        <button kendoButton [primary]="true" [togglable]="true" look="bare">Browse</button>
        <button kendoButton [primary]="true" [togglable]="true" icon="folder" look="outline"></button>
    </kendo-buttongroup>

    <button kendoButton look="outline">Browse</button>
    <button kendoButton [primary]="true" icon="folder">Default</button>
    <button kendoButton [primary]="true" icon="folder" look="bare">Browse</button>
    <button kendoButton [primary]="true" icon="folder" look="outline"></button>
    <button kendoButton [primary]="true" icon="folder">Welcome</button>

</section>